.song{
    display: grid;
    grid-template-columns: [index] 16px [first] 6fr [album] 4fr [rlsdate] 3fr [last] minmax(12rem,1fr);
    justify-content: center;
    gap: 1rem;
    padding: 4px 10px;
    border-radius: 5px;
    font-family: 'CircularSpBook';
    user-select: none;
    transition: var(--default-animation);
    & > *{
        align-self: center;
    }
    &:hover{
        background-color: hsla(0,0%,100%,.1);
        .duration .icon{
            opacity: 1;
        }
    }
    
    .icon{
        fill: var(--default-color);
    }
    .play-btn{
        fill: var(--white-font-color);
        width: 1.4rem;
        transition: var(--default-animation);
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            fill: var(--theme-color);
        }
    }
    .song-header-ctn{
        display: flex;
        align-items: center;
        height: fit-content;
        overflow: hidden;
        .title-ctn{
            display: flex;
            
        }
        .song-img{
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
            border-radius: 4px;
        }
        .song-title{
            font-size: 1.6rem;
            color: var(--white-font-color);
            white-space: nowrap;
            
        }
        .song-artist{
            font-size: 1.4rem;
        } 
    }
    .duration{
        display: flex;
        justify-content: space-evenly;
        .icon{
            opacity: 0;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: var(--default-animation);
            &:hover{
                fill: var(--active-color);
            }
        }
    }
}
.active{
    .song-artist, .song-album{
        color: var(--white-font-color);
    }
}
.active-p{
    fill: var(--theme-color);
    color: var(--theme-color) !important;
}
.song-album, .release-date{
    width: fit-content;
}
.song-title, .song-artist, .song-album{
    font-family: 'CircularSpBook';
    cursor: pointer;
    a:hover{
        color: var(--white-font-color);
        text-decoration: underline;
    }
}
.date-disabled{
    grid-template-columns: [index] 16px [first] 6fr [album] 4fr [last] minmax(12rem,1fr);
}