.wrapper{
    padding: 8px 12px;
}
.item{  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    fill: var(--default-color);
    transition: var(--default-animation);
    font-size: 1.6rem;
   &:hover{
        fill: var(--active-color);
        color: var(--active-color);
   }
}
.active{
    color: var(--active-color);
    fill: var(--active-color);
}
.nav-pages{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.icon{
    color: inherit;
    margin-right: 20px;
    width: 2.4rem;
    height: 2.4rem;
}
