.wrapper{
    padding: 8px 12px;
}
li{  
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
   fill: var(--default-color);
   &:hover{
        fill: var(--active-color);
        color: var(--active-color);
   }
   transition: var(--default-animation);
}
.active{
    color: var(--active-color);
    fill: white;
}
.nav-pages{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.icon{
    color: inherit;
    margin-right: 20px;
}
