@import 'normalize.css';

:root{
        //default
        --theme-color: rgb(66, 206, 166);
        --default-layout-width: 100%;
        --font-family: CircularSp;
        --secondary-font-family: sans-serif;
        --background-color: rgb(45, 43, 43);
        --default-panel-gap: 8px;
        --default-color: rgb(179, 179, 179);
        --active-color: var(--theme-color);
        --white-font-color: rgb(255, 255, 255);
        --top-bar-height: 6.4rem;
        --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);

        //background
        --background-hover-highlight: hsla(0,0%,100%,.1);
        --background-base: #121212;
        //panel
        --panel-background-color: #121212;
        --panel-border-radius: 8px;
        --now-playing-panel-height: 72px;
        --nav-height: 112px;

        //sidebar
        --default-sidebar-width: 342px;
        --sidebar-spacer: calc(var(--default-sidebar-width) + 2*var(--default-panel-gap));

        //animation
        --default-animation: all 0.25s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    :visited{
        color: unset;
    }
    
}

html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--default-color);
    background-color: #000;
    overflow: hidden;
    button{
        background-color: unset;
        border: unset;
        font: unset;
        color: unset;
    }
}
a{
    color: unset;
}
.scrolling{
    overflow: auto;
}
//Fonts emmbed
@font-face {
    font-family: CircularSp;
    src: url('/assets/fonts/CircularSp-Bold.woff2');
    font-weight: 200;
}
@font-face {
    font-family: CircularSpBold;
    src: url('/assets/fonts/CircularSp-Bold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: CircularSpBook;
    src: url('/assets/fonts/CircularSp-Book.woff2');
    font-weight: 400;
}
@font-face {
    font-family: CircularSpTitleBlack;
    src: url('/assets/fonts/CircularSpTitle-Black.woff2');
    font-weight: 500;
}
@font-face {
    font-family: CircularSpTitleBold;
    src: url('/assets/fonts/CircularSpTitle-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: CircularSpTallBold;
    src: url('/assets/fonts/CircularSpTitle-Tall-Bold.woff2');
    font-weight: 700;
}