.wrapper{
    min-height: 100vh;
    margin: 2rem;
}
.genres{
    .grid-ctn{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 0.5rem;
        margin-top: 2rem;
        .genre-card{
            height: 20rem;
            padding: 1rem;
            border-radius: 8px;
            color: white;
        }
    }
}