.playlist-content{
    height: 100%;
    color: var(--default-color);
    font-size: 1.4rem;
    &>*{
        display: grid;
        grid-template-columns: [index] 16px [first] 6fr [album] 4fr [rlsdate] 3fr [last] minmax(12rem,1fr);
        gap: 1.5rem;
    }
    .icon{
        fill: var(--default-color);
    }
    .sticky{
        background-color: red;
    }
    .playlist-th{
        
        z-index: 9999;
        margin-bottom: 1rem;
        padding: 0 1rem;
        border-bottom: solid 1px hsla(0,0%,100%,.1);
       .duration-th{
            display: flex;
            justify-content: center;
            padding-right:2rem ;
       }
    }
    .fixed{
        position: fixed;
        top: var(--top-bar-height);
    }
    
}