.wrapper{
    color: var(--white-font-color);
    overflow: auto;

}
.icon{
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    fill: var(--default-color);
}
.active{
    fill: var(--theme-color);
}
.cover-image{
    width: 25rem;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .playlist-infos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 2rem;
        .title{
            display: block;
            font-family: 'CircularSp';
            font-size: clamp(2rem, 4vw, 5.5rem);
        }
        .playlist-details{
            font-family: 'CircularSpBook';
            .descript{
                color: var(--default-color);
                font-size: 1.4rem;
            }
            .author-avatar{
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                margin-right: 0.4rem;
            }
            .other-details{
                display: flex;
                align-items: center;
                font-size: 1.4rem;
            }
        }
        
    }
}
.content-wrapper{
    min-height: 100vh;
    background-color: var(--background-base);
    background-color: transparent;
    border-radius: 1rem;
    .actions{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 18px;
        padding: 1.6rem;
        .play-btn{
            position: sticky;
            top: 20px;
        }
        .play-btn:hover{
            transform: scale(1.05);
            
        }
        >*{
            transition: var(--default-animation);
        }
    }
    
}

