
.wrapper{
    position: relative;
    height: calc(100vh - (var(--now-playing-panel-height) + 3*var(--default-panel-gap) +  var(--nav-height)));
    padding: 8px 0;
    .icon:hover{
        fill: var(--active-color);
    }
}

.fixed-wrapper{
    box-shadow: 0 6px 10px rgba(0,0,0,.6);
}
.library-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 16px;
}
.toggle-div{
    display: flex;
    align-items: center;
    width: auto;
    padding: 4px 8px;
    &:hover{
        color: var(--active-color);
        .library-icon{
            fill: var(--active-color);
        }
    }
    cursor: pointer;
}

.options-div{
    display: flex;
    gap: 8px;
    span{
        display: flex;
        justify-content: center;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
        &:hover{
            .icon{
                fill: var(--active-color);    
            }
        } 
    }
}
.options-div >*:hover{
    background-color: #1a1a1a;
}
.icon{
    fill: var(--default-color);
    &.library-icon{
        margin-right: 12px;
    }
}
.category{
    display: flex;
    column-gap: 8px;
    padding: 8px 16px;
    width: 100%;
    height: auto;
}
.category > *{
    background-color: hsla(0,0%,100%,.07);
    padding: 4px 12px;
    border-radius: 32px;
    font-size: 1.4rem;
    color: var(---default-white-color);
    cursor: pointer;
    &:hover{
        background-color: var(--background-hover-highlight);
    }
}
//content
.scrollableDiv{
    overflow-y: scroll;
}
.library-content{
    width: auto;
    padding: 0 8px 8px;
    display: block;
    height: calc(100% - 80px);
    
}
.search-i{
    width: 16px;
    height: 16px;
}
.actions{
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    width: 100%;
    & > *{
        cursor: pointer;
    }
    button{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 400;
        &:hover{
            scale: 1.05;
            &>*{
                color: var(--active-color);
                fill: var(--active-color);
            }
        }
        transition: var(--default-animation);
    }

    & > span{
        display: flex;
        justify-content: center;
        border-radius: 50%;
        padding: 8px;
        &:hover{
            background-color: #1a1a1a;
        }
        
    }
}
.row-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        background-color: var(--background-hover-highlight);
    }
    
}
.active{
    background-color: hsla(0,0%,100%, .1);;
}
.cover-img{
    width: 48px;
    height: 48px;
    display: inline-block;
    img{
        width: 100%;
        border-radius: 6px;
    }
}
.item-title{
    color: var(--white-font-color);
}
.item-subtitle{
    font-family: 'CircularSpBook';
    font-size: 14px;
}

//animation
.library-header > *, .icon, span{
    transition: var(--default-animation);
}