.top-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: var(--top-bar-height);
    width: calc(75% - var(--default-panel-gap)*2);
    // width: 70%;
    padding: 16px 18px;
    border-radius: var(--panel-border-radius) var(--panel-border-radius) 0 0;
    opacity: 1;
    z-index: 999;
    transition: all 0.4s ease-out;
    * {
        transition: all 0.4s ease-out;
    }

}
//reset input tag
input{
    border: none;
    outline: none;
    box-sizing: border-box;
}
.bg-change{
    background-color: var(--background-color);
}
.icon {
    fill: rgb(255, 255, 255);
}

.top-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    &.inactive {
        opacity: 0.6;
        user-select: none;
        pointer-events: none;
    }
}
//History Nav
.history-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    .play-btn{
        background-color: var(--theme-color);
        width: 50px;
        height: 50px;
        box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.3);
        margin: 3px;
    }
    .backup-play-btn{
        display: flex;
        align-items: center;
        gap: 6px;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        .title{
            user-select: none;
            color: var(--white-font-color);
            font-size: 2.6rem;
            max-width: 70rem;
        }
    }
    .show{
        opacity:  1;
    }
    .search-bar{
        display: flex;
        align-items: center;
        height: 4.8rem;
        width: 30rem;
        background-color: rgba(40, 40, 40);
        border-radius: 400px;
        transition: unset;
        .search-input{
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: var(--default-color);
           
        }
        .icon-ctn{
            padding: 0 0.8rem;
            .search-i{
                fill: var(--default-color);
                width: 1.8rem;
                height: 1.8rem;
                transform: translateY(10%);
            }
        }
        &:focus-within{
            border: solid 3px white;
            .search-i{
                fill: white;
            }
        }
    }
}
.history-nav > button {
    opacity: 1;
}
//Options
.options {
    display: flex;
    gap: 8px;
}
.download {
    display: flex;
    align-items: center;
    gap: 4px;
    width: auto;
    padding: 4px 16px;
    color: var(--white-font-color);
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    cursor: pointer;
    //animation
    &:hover {
        transform: scale(1.05);
    }
}
.notification {
    background-color: white;
    .bell {
        opacity: 0.6;
    }
    &:hover {
        transform: scale(1.05);
        .bell {
            opacity: 1;
        }
    }
}
.profile img {
    width: 24px;
    border-radius: 50%;
}