.recent-playlists{
    display: grid;
    grid-template-columns: repeat(2, 18.6rem);
    gap: 0.8rem;
    width: 100%;
    
    .item{
        display: flex;
        cursor: pointer;
        .playlist-cover{
            width: 5rem;
            border-radius: 6px 0 0 6px;
            box-shadow: 2px 1px 5px 0px rgb(8, 8, 8,0.5);
        }
        
        .playlist{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 16px;
            background-color: rgba(128, 128, 128, 0.15);
            border-radius: 0 6px 6px 0;
            font-size: 1.4rem;

            
        }
    }
    .link-wrapper{
        position: relative;
        .play-btn-wrapper{
            z-index: 10;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            .play-btn{
                opacity: 0;
                box-shadow:  1px 9px 13px -3px rgb(8, 8, 8, 0.5);
                transition: var(--default-animation);
            }
            transition: var(--default-animation);
            .playing-icon{
                width: 20px;
            }
        }
    }
}