.wrapper{
    h2{
        font-size: 2.8rem;
        margin: 2rem 0;
    }
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 20rem);
        gap: 2.4rem;
    }
}