.wrapper{
    position: relative;
    overflow-x: auto;
    h2{
        font-size: 2.2rem;
        margin: 1rem 0;
        margin-left: 1rem;
    }
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 20rem);
        gap: 0rem;
        overflow-x: scroll;

    }
}