.lyrics{
    color: var(--default-color);
    user-select: none;
    margin-bottom: 2rem;
}
.artist{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0.4rem;

    cursor: pointer;
    border-radius: 8px;
    .avatar{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        overflow: hidden;
    }
    .avatar img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
      }
    &:hover{
        background-color: var(--background-hover-highlight);
    }
    span{
        font-size: 1.4rem;
    }
    p{
      &:hover{
        text-decoration: underline;
      }  
    }
}