.wrapper{
    display: grid;
    row-gap: 20px;
}
.panel-wrapper{
    position: relative;
    display: grid;
    gap: var(--default-panel-gap);
    height: calc(100vh - var(--now-playing-panel-height) + var(--default-panel-gap));
    grid-template-columns: var(--default-sidebar-width) auto;
    padding: var(--default-panel-gap);
     & >*{
        background-color: var(--panel-background-color);
        border-radius: var(--panel-border-radius);
     }
}
.sidebar{
    position: relative;
    width: var(--default-sidebar-width);
    height: auto;
}
.resizeArea{
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    &:hover{
        border-right: solid grey 1px;
    }
}