.wrapper {
    display: grid;
    row-gap: 20px;
    position: relative;
    --background-color: var(--panel-background-color);
    transition: background-color 0.5s ease;
}
.panel-wrapper {
    position: relative;
    display: grid;
    gap: var(--default-panel-gap);
    height: calc(
        100vh - (var(--now-playing-panel-height) + 2 * var(--default-panel-gap))
    );
    grid-template-columns: var(--default-sidebar-width) auto;
    padding: var(--default-panel-gap);
    & > * {
        background-color: var(--panel-background-color);
        border-radius: var(--panel-border-radius);
    }
}
.sidebar {
    position: relative;
    width: var(--default-sidebar-width);
    height: 100%;
}
.resizeArea {
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    &:hover {
        border-right: solid grey 1px;
    }
}
.main-view {
    position: relative;
    width: calc(100vw - var(--sidebar-spacer) - var(--default-panel-gap));
    overflow-y: auto;
    scroll-behavior: smooth;
    border-radius: 6px;
    transition: background-color 0.5s ease;
}
//
.icon {
    fill: rgb(255, 255, 255);
}

.content {
    padding-top: var(--top-bar-height);
    background: linear-gradient(0deg, var(--panel-background-color) 70%, var(--panel-background-color) 70%,var(--background-color) 115%, var(--background-color) 100%),var(--background-noise);
}
//
