.wrapper {
    display: grid;
    row-gap: 20px;
    position: relative;
    --background-color: var(--panel-background-color);
    transition: background-color 0.5s ease;
    width: 100vw;

}
.panel-wrapper {
    position: relative;
    display: grid;
    gap: var(--default-panel-gap);
    width: 100vw;
    height: calc(
        100vh - (var(--now-playing-panel-height) + 2 * var(--default-panel-gap))
    );
    grid-template-columns: 25% 75%;
    padding: var(--default-panel-gap);
    & > * {
        background-color: var(--panel-background-color);
        border-radius: var(--panel-border-radius);
    }
}
.sidebar {
    position: relative;
    width: 100%;
    height: 100%;
}
.resizeArea {
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    &:hover {
        border-right: solid grey 1px;
    }
}
.main-view {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 6px;
    transition: background-color 0.5s ease;
    &:hover{
        overflow-y: auto;
    }
}
//
.icon {
    fill: rgb(255, 255, 255);
}

.content {
    width: 100%;
    padding-top: var(--top-bar-height);
    background: linear-gradient(0deg, var(--panel-background-color) 70%, var(--panel-background-color) 70%,var(--background-color) 115%, var(--background-color) 100%),var(--background-noise);
}
::-webkit-scrollbar {
    display: block;
}
//
