.card{
    --cover-img-width: 17rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-height: 28rem;
    padding: 1.4rem 0;
    background-color: #181818;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--default-animation);
    &:hover{
        background-color: #2a2a2a;
        .card-cover{
            .pause{
                opacity: 1;
                transform: translate(-6px, -6px);
            }
            
        }
    }
    .x-btn{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        background-color: rgba(0,0,0,.3);
        border-radius: 50%;
        z-index: 99;
        cursor: pointer;
        transition: var(--default-animation);
        .icon{
            fill: white;
            
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    .card-cover{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .cover-img{
            width: var(--cover-img-width);
            border-radius: 5px;
        }
        .play-btn{
            position: absolute;
            right: 0;
            bottom: 0;  
            transition: var(--default-animation);
        }
        .pause{
            opacity: 0;
            transform: translate(0, -6px);
        }
        .playing    {
            opacity: 1;
            transform: translate(-6px, -6px);
        }
    }
    .card-info{
        overflow: hidden;
        line-height: 1.6rem;
        margin: 1rem 1.6rem;    
        .title{
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
        .description{

            font-size: 1.4rem;
            font-family: 'CircularSpBook';
            color: var(--default-color);
        }
    }
}