.wrapper{
    display: grid;
    gap: 2rem;
    // padding: 0.6rem;
    width: 100%;
    font-size: 2rem;
    color: var(--white-font-color);
    overflow: hidden;
    >*{
        padding: 0.4rem;
    }
}
.greet{
    font-size: 3rem;
    margin-left: 1rem;
}
