.wrapper{
    margin: 20px;
    font-size: 20px;
    color: var(--white-font-color);
    
}
.greet{
    font-size: 40px;
    user-select: none;
}
.recent-playlists{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    
    .item{
        display: flex;
        cursor: pointer;
        .playlist-cover{
            width: 50px;
            border-radius: 6px 0 0 6px;
            box-shadow: 2px 1px 5px 0px rgb(8, 8, 8,0.5);
        }
        
        .playlist{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 16px;
            background-color: rgba(128, 128, 128, 0.15);
            border-radius: 0 6px 6px 0;
            font-size: 1.4rem;
            .play-btn-wrapper{
                opacity: 0;
                .play-btn{
                    box-shadow:  1px 9px 13px -3px rgb(8, 8, 8, 0.5);
                    &:hover{
                        transform: scale(1.1);
                    }
                    transition: var(--default-animation);
                }
            }
            
        }
        &:hover{
            .playlist{
                background-color: rgba(128, 128, 128, 0.35);
            }
            .play-btn-wrapper{
                opacity: 1;
            }
        }
        >*{transition: var(--default-animation);}
    }
   
}