.wrapper{
     display: grid;
     grid-template-rows: 112px auto;
     gap: var(--default-panel-gap);
     // width: var(--sidebar-width);
     height: 100%;
     background-color: #000;
     &>*{
          background-color: var(--panel-background-color);
          border-radius: var(--panel-border-radius);
     }
}